<div class="card" style="margin-bottom: 1rem;">
    {{ $lang := "" }}
    {{ with $.Get "lang" }}
      {{ $lang = $.Get "lang" }}
    {{ end }}
    {{ $highlight := "" }}
    {{ with $.Get "highlight" }}
      {{ $highlight = $.Get "highlight" }}
    {{ end }}
    {{- with $.Get "header" -}}
      <div class="card-header bg-white">
        {{- $.Get "header" | markdownify -}}
      </div>
    {{end}}
    <div class="card-body code">
        {{ with $.Inner }}
            {{- highlight $.Inner $lang $highlight -}}
        {{ end }}  
    </div>
  </div>
  