{{ $baseURL := .Site.BaseURL }}
<div class="gallery">
	{{- with (.Get "dir") -}}
		<!-- If a directory was specified, generate figures for all of the images in the directory -->
		{{- $files := readDir (print "/static/" .) }}
		{{- range $files -}}
			<!-- skip files that aren't images, or that inlcude the thumb suffix in their name -->
			{{- $linkURL := print $baseURL ($.Get "dir") "/" .Name | absURL }}<!-- absolute URL to hi-res image -->
			<div class="box">
				<div class="img" style="background-image: url('{{ $linkURL }}');" >
				</div>
			</div>
		{{- end }}
	{{- end }}
</div>